<div class="policy">
  <div class="col-md-12">
    <h1 class="hh hh7 pastel-bc main-bdr">個人情報保護方針</h1>
    <br>
    <p>Cafe Shaker「https://cafeshaker.herokuapp.com/」（以下、当サイト）を利用される方は、以下に記載する諸条件に同意したものとみなします。</p>
    <br>
    <h2>1. 個人情報保護管理体制の確立</h2>
    <p>当サイトは、運営においてお預かりした個人情報を保護するための管理体制を確立します。</p>
    <br>

    <h2 class=”hh hh3 main-bdr”>2. 個人情報の取得・利用・提供</h2>
    <p>利用者は匿名のままで、当サイトを自由に閲覧する事ができます。
    お問合せ等、場合によっては、利用者の氏名やメールアドレスなどの個人情報の開示をお願いする事があります。<br>

    しかし、利用者の個人情報を利用者の許可なく、当サイトから第三者へ開示・共有する事はありません。<br>
    当サイトは、運営において個人情報を取得する際、事前に利用目的を特定します。個人情報の利用及び提供において適切に取り扱います。また、法令等に基づかない目的外利用を禁止するとともに、そのための処置を講じます。
    </p>
    <br>

    <h2>3. 法令・規範の遵守</h2>
    <p>当サイトは、個人情報の取り扱いに関する法令、国が定める指針その他の規範を遵守するとともに、当サイトの個人情報管理規則をこれらの法令及び指針、その他の規範に適合させます。</p>
    <br>

    <h2>4. 安全管理の実施</h2>
    <p>当サイトは、個人情報の正確性及び安全性を確保するため、想定されるリスクに見合う合理的な対策として、個人情報へのアクセス管理、個人情報の持ち出し手段の制限、外侮からの不正アクセス防止対策等を実施し、個人情報の漏洩、滅失又は毀損の防止に努めます。これらの安全策は定期的に見直すとともに、是正を行います。</p>
    <br>

    <h2>5. 個人情報に関する開示等、苦情及び相談への対応</h2>
    <p>当サイトは、個人情報に関して当社が公表した手続きに基づいて本人から自己の情報の開示、訂正・追加・削除、又は利用もしくは提供の拒否、並びに苦情及び相談の申し出を受けた場合、適切な本人確認を実施した上、速やかに対応します。</p>
    <br>

    <h2 class=”hh hh3 main-bdr”>6. 広告の配信について</h2>
    <p>当サイトはGoogle及びGoogleのパートナーウェブサイト（第三者配信事業者）の提供する広告を設置しております。

    その広告配信にはCookieを使用し、当サイトを含めた過去のアクセス情報に基づいて広告を配信します。

    DoubleClick Cookie を使用することにより、GoogleやGoogleのパートナーは当サイトや他のサイトへのアクセス情報に基づいて、適切な広告を当サイト上でお客様に表示できます。

    お客様は<a href=”https://www.google.com/settings/u/0/ads/authenticated?hl=ja” target=”_blank” rel=”noopener”>Googleアカウントの広告設定ページ</a>で、パーソナライズ広告の掲載に使用される DoubleClick Cookie を無効にできます。

    また <a href=”http://optout.aboutads.info/#!/” target=”_blank” rel=”noopener”>www.aboutads.info</a> にアクセスして頂き、パーソナライズ広告の掲載に使用される第三者配信事業者のCookieを無効にできます。

    その他、Googleの広告における、Cookieの取り扱いについての詳細は、<a href=”https://www.google.co.jp/policies/technologies/ads/” target=”_blank” rel=”noopener”>Googleのポリシーと規約ページ</a>をご覧ください。
    </p>
    <br>

    <h2 class=”hh hh3 main-bdr”>7. ウェブサーバの記録</h2>
    <p>当サイトのウェブサーバは、利用者のコンピュータのIPアドレスを自動的に収集・記録しますが、これらは利用者個人を特定するものではありません。利用者が自ら個人情報を開示しない限り、利用者は匿名のままで、当サイトを自由に閲覧する事ができます。
    </p>
    <br>

    <h2 class=”hh hh3 main-bdr”>8. 免責事項</h2>
    <p>利用者は、当サイトを閲覧し、その内容を参照した事によって何かしらの損害を被った場合でも、当サイト管理者は責任を負いません。

    また、当サイトからリンクされた、当サイト以外のウェブサイトの内容やサービスに関して、当サイトの個人情報の保護についての諸条件は適用されません。

    当サイト以外のウェブサイトの内容及び、個人情報の保護に関しても、当サイト管理者は責任を負いません。</p>
    <br>
    <p style="text-align: right;">制定：2018年4月29日 </p>
    <p style="float: right;">市来亮</p>
  </div>
</div>