# See https://help.github.com/articles/ignoring-files for more about ignoring files.

.pryrc
.DS_Store

# Ignore bundler config.
/backend-api/.bundle

# Ignore all logfiles and tempfiles.
/backend-api/log/*
/backend-api/tmp/*
/backend-api/!/log/.keep
/backend-api/!/tmp/.keep
/backend-api/log/*.log

/backend-api/.env
/backend-api/sendgrid.env
/backend-api/.byebug_history
/backend-api/.bash_profile

/backend-api/.envconfig/database.yml
/backend-api/config/database.yml
/backend-api/config/database.yml.example
/backend-api/vendor/bundler/
/backend-api/vendor/bundle
/backend-api/uploads/tmp/
/backend-api/config/settings.local.yml
/backend-api/config/settings/*.local.yml
/backend-api/config/environments/*.local.yml
/backend-api/config/secrets.yml

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build


# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env*

# vercel
/frontend/.vercel
