<!DOCTYPE html>
<html>
  <head>
  <% cache(suffix: 'header') do %>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimal-ui">
    <meta name="theme-color" content="#333"><!-- Chromeのタブの色 -->
    <meta name="description" content="近所のカフェ検索から、全世界のカフェレビューまで。訪れたカフェをシェアしよう！  Cafe Sharesは、カフェ好きによるカフェ好きのためのカフェ検索・レビュー投稿サイトです。Cafe Sharesでは日本国内から世界中までどこのカフェでも検索することができます。あなたのお気に入りのカフェをぜひ登録してみてください。">
    <meta name="keywords" content="Cafe Shares, カフェ, Cafe, cafe, カフェシェアーズ, cafeshares, カフェレビュー, カフェ検索, カフェレビューサイト, お気に入りのカフェ, オススメのカフェ">
  <% end %>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Cafe Shares | カフェ・シェアーズ" %></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>