<div class="error-page">
  <h1>エラーです。</h1>
  <h3>戻ってね。</h3>
  <%= image_tag 'coffeetime_mini.jpg', :class=>"error-image" %>
  <button type="button" class="btn pull-right btn-lg btn-default">
    <%= link_to 'Back', root_path, data:{"turbolinks"=>false} %>
  </button>
</div>