<div class="error-page">
  <h1>Cafe Shares</h1>
  <h3>エラーです。戻ってね。</h3>
  <%= image_tag 'osha_mini.jpg', :class=>"error-image" %>
</div>
<button type="button" class="btn pull-right btn-lg btn-default">
  <%= link_to 'Back', root_path, data:{"turbolinks"=>false} %>
</button>