<% cache do %>
  <div class="Main">
    <div class="terms">
      <div class="col-md-12">
        <h1 class="hh7">利用規約</h1>
        <p>Cafe Shares「https://cafeshares.com/」（以下、当サイト）の利用について、以下のとおり利用規約を定めます（以下、「本規約」といいます。）。当サイトの利用者（以下、「お客様」といいます。）は、予め本規約に同意した上で、当サイトを利用するものとします。<br>
        また、当サイトはGoogle Place APIを用いてカフェの位置情報等を取得している為、当サイトを利用するすべてのお客様には<a href="https://www.google.com/intl/en/policies/terms?hl=ja">Googleの利用規約</a>が適用されます。<br>
        なお、本規約の内容は、必要に応じて変更することがございますので、当サイトをご利用の際には、最新の利用規約をご参照ください。</p>

        <h2>1. 当サイトの目的</h2>
        <p> 当サイトは、お客様によって投稿されたカフェ・喫茶店に関するコメント・画像等（以下、お客様から当サイトに投稿された情報を総称して「口コミ」といいます。）を公開することで、他の当サイト閲覧者がカフェ・喫茶店を選ぶ際の参考として活用していただくことを主な目的としています。</p>

        <h2>2. 会員登録手続</h2>
        <p> お客様は、当サイト所定の手続に従い、Cafe Shares会員（以下、「当会員」といいます。)の登録手続きを行うことができるものとします。当サイトは、会員ではないお客様または当サイト所定の会員手続を完了していないお客様とで、当サイトにおいて提供するサービスを異ならせることがあります。提供されるサービスの内容等は当サイトが任意に決定し、又は随時変更できるものとします。</p>

        <h2>3. セキュリティについて</h2>
        <p> 会員登録については、現在最も信頼性の高いインターネット上の暗号通信技術SSL（Secure Socket Layer）を使用し、送信される情報は第三者に見られることのないよう暗号化されています。また、コンピュータウィルスにつきましても、ウィルス対策ソフトの導入などを行っております。</p>

        <h2>4. ログインアカウント等の登録・管理</h2>
        <p>お客様は、ログインアカウント及びパスワード（以下、「ログインアカウント等」といいます。）の登録・管理等をご自身の責任において行うものとし、お客様の管理不十分、使用上の過誤、第三者の使用等により生じた損害について、当サイトは一切責任を負わないものとします。また、お客様は、ログインアカウント等にかかるサービス（当サイト以外の運営するサービスを含み、以降同様とする。）の利用をご自身の責任において利用するものとし、当該サービスの利用については当該サービスの運営者が規定する各規約の定めに従うものとします。ログインアカウント等に係るサービスを利用したことにより生じた損害、当該サービス運営者とお客様の間に生じたトラブル等について当サイトは一切の責任を負わないものとします。</p>



        <h2>5. プライバシーについて</h2>

        <h3>（１）個人情報の取り扱いについて</h3>
        <h4>[1] 運営者について</h4>
        <span>運営者の名称、個人情報保護管理責任者等の職名、連絡先については、<a href="/policy/index/">こちら</a>をご覧ください。</span>
        <h4>[2] 利用目的</h4>
        <p>当サイトは、お客様に対して当サービスを提供するにあたり、必要な一定のお客様の個人情報を取得しますが、これらの個人情報の利用目的は以下の通りです。</p>
        <p>a. ログイン時における本人確認のため</p>
        <p>b. 郵送、電話、電子メール等の方法により、当サイトのサービスをご案内するため</p>
        <p>c. 個人を識別できない形式に加工した上、統計データを作成するなど当サービスの利用促進のため</p>
        <p>d. 当サイトに関し、必要に応じてお客様に対し連絡するため</p>
        <h4>[3] 第三者提供</h4>
        当サイトは、以下のいずれかに該当する場合を除き、お客様の個人情報を第三者へ開示または提供いたしません。
        <p>a. お客様の同意があるとき</p>
        <p>b. お客様を識別することができない状態で統計的なデータとして開示・提供するとき</p>
        <p>c. 法令に基づくとき</p>
        <p>d. 人の生命、身体または財産の保護の為に必要な場合で、お客様の同意を得ることが困難なとき</p>
        <p>e. 公衆衛生の向上または児童の健全な育成の推進のために特に必要があるときに、お客様の同意を得ることが困難なとき</p>
        <p>f. 国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要があるときに、お客様の同意を得ることにより当該事務の遂行に支障を及ぼす恐れがあるとき</p>
        <h4>[4] 業務委託</h4>
        <p>当サイトは取得した個人情報の取り扱いの全部または一部を必要な保護処置を講じた上、上記利用目的に必要な範囲において、委託する場合があります。</p>
        <h4>[5] 開示、訂正・削除、利用停止等</h4>
        <p>お客様が、ご自身の個人情報の利用目的の通知、開示、訂正・追加・削除、利用停止又は消去の請求を行う場合は、「個人情報の取り扱いについて 4.」に定めた方法にてお受けいたします。</p>
        <h4>[6] その他</h4>
        <p>全ての項目に誤入力いただけなかった場合、当サイトの全部または一部が利用できない場合がありますのでご了解ください。</p>

        <h3>(2) クッキー、Webビーコンについて</h3>
        <p>当サイトを利用していただくお客様により良いサービスを提供するためにクッキー(Cookie)、Webビーコンを使うことがあります。</p>
        <p>クッキーは、お客様のブラウザ設定によりクッキーの受け取りを拒否したり、制限できますが、その際は、当サイトの利用において制約を受ける場合があります。Webビーコンの使用に関しては、お客様側で制限することができない場合があります。</p>
        <p>クッキー、Webビーコンに関しましては、下記の説明をご覧ください。</p>
        <h4>  [1] クッキー（Cookie）について</h4>
        <p>クッキーは、Webサイトの提供者がWebブラウザを通してサイト利用者のコンピュータに一時的にデータを記録する仕組みです。クッキーには、サイト利用者に関する情報や最後にサイトを訪れた日時、そのサイトの訪問回数などを記録させることができ、サイト利用者の識別、お客様認証システムやWWWによるサービスをお客様ごとにカスタマイズするサービス等で利用されます。</p>
        <p>a. アクセス解析用んクッキー無効化（オプトアウト）についての説明</p>
        <span>当サイトでは、サイトの利用状況を把握するためにAdoeg Systems Incorporatedによって提供されるサービスを利用しております。このため、一部ページにおいてAdobe Systems Incorporatedから提供されるクッキーを使用しています。クッキーの使用に関する説明、クッキーによって収集される情報、オプトアウト（クッキーの利用に対する拒否権）の手続きについて詳しくお知りになりたい方は、Adobe Systems Incorporatedの<a href="http://www.omniture.com/jp/privacy" >プライバシーポリシー</a>をご確認ください。</span>
        <p>b. 広告配信用のクッキーに関する説明</p>
        <span>当サイトでは、効果的な広告配信のために以下の第三者が行う広告サービスを利用しています。それぞれのサービスでは、利用するクッキーは効果的な広告配信の目的にのみ使用し、そのほかの目的や個人情報の収集には一切使用いたしません。これらのクッキーを無効にしたい場合はお手数ですが、以下の各クッキーの状態確認ページにおいて、手順に従い無効化してください。</span><br>
        <a href="http://btoptout.yahoo.co.jp/optout/index.html">・ヤフー株式会社</a><br>
        <a href="https://www.google.com/intl/ja/policies/privacy/">・グーグル株式会社</a><br>
        <a href="https://grp12.ias.rakuten.co.jp/optout/index.html">・楽天株式会社</a><br>
        <a href="https://gunosy.com/about/privacy">・グノシー株式会社</a><br>
        <a href="http://send.microad.jp/w3c/">・株式会社マイクロアド</a><br>
        <h4>  [2] Webビーコンについて</h4>
        <p>Webビーコンとは、透明な画像ファイルやスクリプト等を使用してお客様のアクセス状況を把握するもので、サイト利用者の識別、Webサイトの利用状況等の統計的情報を取得するために利用されています。</p>
        <!-- <h4>  [3] IR情報としての利用について</h4>
        当社は、お客様によるCafe Sharesの利用に関してクッキーまたはWebビーコンを用いて計測された利用者数、ベージビュー数などの統計データを、IR情報として公開することがあります。 -->


        <h2>6. Cafe Sharesの利用について</h2>
        <h3>(1) Cafe Sharesの転用・転売の禁止</h3>
        <p>[1] お客様は、当サイトが提供するサービスについて、その全部あるいは一部を問わず、営業活動その他の営利を目的として行為またはそれに準ずる行為やそのための準備行為を目的として、利用またはアクセスしてはならないものとします。また、宗教活動、政治活動などの目的での利用またはアクセスも行なってはならないものとします。</p>
        <p>[2] Cafe Sharesに投稿された口コミを無断転載・無断利用することは禁止します。ただし、当該投稿した本人は除きます。</p>
        <p>[3] 口コミを投稿した本人によ当該口コミの利用等本規約が特に認めた場合を除き、Cafe Sharesに掲載されている口コミを利用して利益を得た場合には、当サイト運営者はその利益相当額の金員を請求できる権利を有するものとします。</p>
        <h3>(2) Cafe Sharesの変更・停止</h3>
        <p>当サイト運営者はお客様へご提供しているCafe Sharesを運営者の都合により変更することがあります。また、災害・事故、その他緊急事態が発生した際には、Cafe Sharesを停止する場合がありますの、予めご了承ください。なお、事前にお客様の承諾を得ることなくCafe Sharesを変更・停止したことにより、お客様または第三者が損害を受けたとしても、当サイト運営者は一切の補償はいたしません。</p>
        <h3>(3) Cafe Sharesの利用に必要となる設備</h3>
        <p>お客様がCafe Sharesをご利用になるためには、webにアクセスしていただく必要があります。なおwebへのアクセスについては、お客様は自らの責任と費用で必要な機器、ソフトウェアを適切に準備し、操作していただく必要があり、当社はお客様がwebにアクセスするための準備、方法などについては一切関与いたしておりません。
        <h3>(4) 口コミの投稿及び著作権等</h3>
        <p>[1] Cafe Sharesに口コミ投稿を行う際には、Cafe Shares会員登録が必要となります。</p>
        <p>[2] Cafe Sharesに口コミを投稿されるにあたっては、当サイトが別途定めるガイドラインついても遵守していただきます。このガイドラインは、本規約の一部を構成するものとし、このガイドラインを含めたものが本規約となります。</p>
        <p>[3] 当会員がCafe Sharesに口コミの投稿を行った時点で、当該口コミの国内外における複製、公衆送信、頒布、翻訳・翻案等、著作権法上の権利（当サイト運営者から第三者に対する際使用許諾権を含みます。）を、当該著作権の存続期間の満了日まで、当会員が当サイト運営者に対して無償で利用することを許諾したものとします。</p>
        <p>[4] 当会員ご自身が投稿された口コミに関する複製、公衆送信、頒布、翻訳・翻案等、著作権上の権利を全て有していることを、当該当会員に保証していただきますので、著作権法上の権利の有無については十分注意して投稿を行ってください。また、第三者の著作物等を利用して投稿を行う場合には、当会員の責任と負担において前記③の許諾に必要な権利処理がなされていることを前提とさせていただきますので、第三者の著作物等を利用される場合にも十分に注意をして投稿を行ってください。</p>
        <p>[5] 当サイト運営者若しくは当サイト運営者から再使用許諾を受けた第三者が、当会員の口コミを当サイト内や提携サイトへのコンテンツ提供などにおいて利用する場合がございます。この際、当会員の口コミの一部を要約・抜粋したり、投稿された写真（画像）のサイズ変更・切り抜きを行うなど一部改変する場合がございます。また、当会員の口コミを利用する場合には、当会員が投稿した際のユーザーネームを表示させていただく場合がございます。なお、当会員の口コミにつきましては細心の注意を払って利用させていただきますが、万が一、当該改変行為が当会員の名誉・声望等を侵害している場合には、当サイト運営者までご連絡ください。</p>
        <p>[6] 当サイト運営者若しくは当サイト運営者から再使用許諾を受けた第三者が、当会員の口コミを利用する場合には、地域制限、著作権表示義務その他付随条件はないものとし、当会員による利用許諾の期間は当会員の著作権が存続する限りとします。また、ロイヤリティ等の対価は一切発生しないものとします。</p>
        <p>[7] 当サイト運営者又は第三者が当会員の口コミを利用したことによって当会員又は第三者が受けた損害については、当サイト運営者は一切の補償をいたしません。</p>
        <h3>[1] (5) 口コミ投稿における外部サービス連携</h3>
        <p>Cafe Sharesにおいて口コミを投稿する際に、当会員がtwitter・Facebook等の外部サービス（以下、「外部サービス」といいます。）との連携機能を利用する場合、当会員は、かかる連携により、 当会員が作成した口コミの外部サービスへの投稿を当サイト運営者がCafe Shares会員に代行して行うこと、及び、当サイト運営者が当会員に代行して外部サーベスへの投稿にあたり、当該口コミに関連するウェブページへのURLを付加して投稿することを予め承諾するものとします。なお、当会員は、連携機能を利用してログインする際に、当サイト運営者がデータにアクセすることについての許可を求められうことがあり、かかる内容を確認の上、許可した場合に限り、連携機能を利用することができるものとします。</p>
        <p>[2] 外部サービスのユーザIDの登録・利用を含む全ての外部サービスの利用（当会員が作成した口コミの外部サービスへの投稿を含みます。）については、当会員は、外部サービスの運営者が規定する各規約の定めに従うものとします。</p>
        <p>[3] 外部サービスを利用する場合、当会員は、自己の責任において当該サービスを利用するものとし、当サイト運営者は、当該サービスを利用したことにより生じた損害、当該サービスの運営者・利用者等との間に生じたトラブルその他の当該サービスに関連する一切の事項について何らの責任も負わないものとします。</p>


        <h2>7. 免責事項</h2>
        <span>Cafe Sharesは、お客様ご自身の責任においてご利用いただけます。また、以下の各号につき予めご了承いただくものとします。</span>
        <h3>(1) カフェ・喫茶店情報及びお取り寄せ商品情報</h3>
        <p>当サイト運営者は、掲載されたカフェ・喫茶店及びお取り寄せ商品に関する情報については、いかなる保証もいたしません。ご予約時、ご注文時、またはお出かけの前に、住所・営業時間・定休日などの電話等の方法により直接お店に確認されることをお勧めいたします。また、掲載されたカフェ・喫茶店、お取り寄せ商品に関する情報によってお客様に生じた損害や、お客様同士のトラブル等について、当サイト運営者は一切の補償及び関与をいたしません。</p>
        <p>掲載されたカフェ・喫茶店の情報が正しくない場合は<%= link_to 'こちら', inquiry_path %>へご連絡ください。</p>
        <h3>(2) 口コミの内容</h3>
        <p>当サイト運営者は、掲載された口コミの内容に関していかなる保証もいたしません。お客様のご判断でご利用ください。また、掲載された口コミによって生じたお客様の損害（お客様が作成した各種コンテンツによるコンピュータ・ウィルス感染被害なども含みます）や、お客様同士のトラブル等に対し、当社は一切の補償及び関与をいたしません。</p>
        <h3>(3) リンク先サイト</h3>
        <p>当サイト運営者は、Cafe Sharesからリンクされた第三者が運営するサイトに関して、いかなる保証もいたしません。お客様のご判断でご利用ください。また、リンク先で生じた損害や、お客様同士のトラブル等に対し、当サイト運営者は一切の補償及び関与をいたしません。</p>
        <h3>(4) 口コミの削除</h3>
        <p>Cafe Sharesは、お客様からの自己責任に基づく口コミの投稿によって成り立っているコミュニティですが、お客様皆様に快適にご利用いただくため、下記に該当・類似する口コミが発見された場合、予告無く、当該口コミをCafe Shares上から削除する場合があります。</p>
        <p>なお、削除対象に該当するか否かは、すべて当サイト運営者が判断いたします。</p>
        <p>また、6. (5)に従い連携された外部サービス上に掲載された口コミに関しては、第三者が運営するサービス・ウェブサイトでの表示であるため、当サイト運営者が削除等の措置を講じることはいたしません。</p>
        <p>[1] ガイドラインに反するもの</p>
        <p>[2] 公序良俗に反するもの</p>
        <p>[3] Cafe Sharesの種子、または口コミの対象となるお店やお取り寄せ商品と関係のないもの（日記を除く）</p>
        <p>[4] 有害なプログラム・スクリプト等を含むもの</p>
        <p>[5] 営利を目的としたものや個人的な売買・譲渡を持ちかける内容、宣伝行為に関するもの</p>
        <p>[6] その他、Cafe Sharesの管理運営を妨げる等、当サイト運営者が不適切と判断したもの</p>
        <h3>(5) 地図情報</h3>
        <p>当サイト運営者は、掲載されたカフェ・喫茶店の所在地にかかる地図情報に関してはいかなる補償もいたしません。なお、地図情報はGoogle Inc.より提供され、Google Inc.にて定めるTerms of Use及びプライバシポリシーが適用となります。</p>


        <h2>8. 著作権、財産権その他の権利</h2>
        <p>(1) Cafe Sharesに含まれるコンテンツ及び個々の情報、商標、画像、広告、デザイン等に関する著作権、商標権その他の知的財産権、及びその他の財産権はすべて当サイト運営者または正当な権利社に帰属しています。</p>
        <p>(2) Cafe Shares及び関連して使用されているすべてのソフトウェアは、知的財産権に関する放映等により保護されている財産権を含んでいます。</p>
        <p>(3) お客様は、当サイト運営者若しくは著作権その他の知的財産権及びその他の財産権を有する第三者から利用・使用を許諾されている場合、または、法令により権利者からの許諾なく利用若しくは使用することを許容されている場合を除き、Cafe Shares及びCafe Sharesの内容について複製、編集、改変、掲載、転載、公衆送信、配布、販売、提供、翻訳・翻案その他あらゆる利用又は使用を行なってはなりません。</p>
        <p>(4) お客様が全各号に反する行為によって被った損害については、当サイト運営者は一切の責任を負わないものとします。また、お客様がこれらの行為によって利益を得た場合、当サイト運営者はその利益相当額を請求できる権利を有するものとします。</p>


        <h2>9. 禁止行為</h2>
        <p>(1) お客様がCafe Sharesを利用するに際して、次の行為を行うことを禁止します。</p>
        <p>[1] 法令上または本規約若しくはガイドライン上特に認められている場合を除き、Cafe Sharesの提供する情報を搭載と運営者の事前の同意なく、複写、若しくはその他の方法により再生、複製、送付、譲渡、頒布、配布、転売、又はこれらの目的で使用するために保管すること</p>
        <p>[2] 本規約またはガイドラインに違反すること</p>
        <p>[3] 公序良俗に反すること</p>
        <p>[4] 違法行為・犯罪行為・重大な危険行為に結びつくこと又はこれらを助長すること</p>
        <p>[5] 当サイト運営者、他のお客様又は第三者の知的財産権（著作権、意匠権、実用新案権、商標権、特許権、ノウハウが含まれますがこれに限定されません）を侵害すること</p>
        <p>[6] 他のお客様又は第三者の権利又は利益を違法に侵害し、又はその恐れがあること</p>
        <p>[7] Cafe Sharesの運営を妨げること、又は当サイト運営者の信用を毀損すること</p>
        <p>[8] Cafe Sharesの会員登録時に虚偽の申告をすること</p>
        <p>[9] 同一人物が複数の当サイト会員登録を行うこと</p>
        <p>[10] ID及びパスワードの不正使用又は他のお客様又は第三者に使用させること</p>
        <p>[11] 面識のない異性との出会い等を目的としてCafe Sharesの機能を利用すること</p>
        <p>[12] その他、当サイト運営者が不適切と判断すること</p>
        <p>(2) お客様により前項各号に該当する行為又はCafe Sharesの趣旨・目的に照らして不適切であると当サイト運営者が判断する行為がなされた場合、当サイト運営者は当該お客様に対して、Cafe Sharesの利用の停止、その他当サイト運営者が適切と判断する措置（以下、「利用停止措置」といいます。）を取ることができるものとします。なお、利用停止措置はお客様の帰責性の有無に関わらず当サイト運営者の裁量と判断に基づき行うことができるものとし、利用停止措置を行なった理由については、その如何に問わずお客様に対して一切お答えいたしかねます。加えて、利用停止措置に起因してお客様に生じた損害については、当社は一切の責任を負わないものとしまう。</p>


        <h2>10. 退会手続</h2>
        <p>(1) 当会員が退会を希望する場合は、搭載と所定の退会手続きを行うものとします。</p>
        <p>(2) 当会員は、大会手続きを行った場合、当サイトでご利用いただいていた当会員のアカウントに関する一切の権利、特典を失うものとします。</p>
        <p>(3) 当会員は、退会手続きによっても、自らの投稿した口コミ内容は削除されないことを予め承諾するものとします。</p>
        <p>(4) 当会員が退会手続きを完了した場合、又は、当サイトと当会員との間の本規約に基づく契約が終了した場合であっても、4. ログインアカウント等の登録・管理、5. プライバシーについて、6. Cafe Sharesの利用について(1),(2),(4),(5)[3]、7. 免責事項、8. 著作権、財産権その他の権利、9. 禁止行為、12. 準拠法及び裁判管轄はなお有効とします。</p>


        <h2>11. 本規約の変更</h2>
        <p>当サイト運営者は、本規約の内容を変更することができるものとします。その場合、Cafe Shares上での告知その他当サイトが適当と認める方法により告知するものとします。告知した場合、当該変更の効力が生じ、お客様が当該変更を承諾したものとします。</p>


        <h2>12. 準拠法</h2>
        <p>本規約は、日本法に基づき解釈されるものとします。</p>

        <h2>13. お問い合わせ</h2>
        <p>ご不明な点がございましたら、以下のフォームよりお問い合わせください。</p>
        <%= link_to 'お問い合わせフォーム', inquiry_path %>
      </div>
    </div>
  </div>
<% end %>