
@media (min-width: 415px) and (max-width: 768px){
  .SlideShow {
    height: 450px;
    p {
      font-size: 1.5em;
      width: 77%;
    }
    .rate::before, .rate::after {
      top: 30px;
    }
    .btn-heart {
      bottom: 5px;
    }
  }
  .cafePhotoTop {
    height: 400px;
  }
  .name {
    font-size: 2.3em;
  }
  .skippr-nav-container {
    left: 68%;
  }
  .skippr-nav-element-block {
    width: 50px;
  }
  .table {
    width: 48%;
    margin: 5px;
  }
  .heartIndex .btn-heart {
    margin-right: 20px;
  }

  .tableShow {
    width: 100%;
    height: 450px;
    border-radius: 5px;
    .cafePhoto {
      height: 360px;
    }
    .placeShowBtn {
      margin-bottom: -40px;
    }
  }
  .showAddress{
    font-size: 1.5em;
  }
  .show-review-ul {
    margin: 0 auto;
    width: 100%;
  }
  .show-review-li {
    position: ralative;
    width: 45%;
    float: left;
    margin: 10px;
    .star-rating {
      margin: 50px 0 0 0;
    }
    .btn-good {
      width: 40%;
      display: inline-flex;
      margin: 10px;
      .fa {
        display: block;
      }
      small {
        margin-top: 10px;
      }
    }
    .userReviews {
      .userReview {
        margin: 5px 0 10px 10px;
      }
      .address{
        width: 60%;
      }
      .star-rating {
        width: 50%;
      }
    }
  }
  .review {
    margin: 90px 10px 0 10px;
  }
  .show-review-h3 {
    margin-left: 150px;
  }
  .show-review-image {
    width: 17%;
  }

  /* review show */
  .userReviews{
    .userReview{
      width: 46%;
      float: left;
      margin: 5px;
    }
  }

  /* review index cafe Photos */
  .cafe-Photos {
    width: 33%;
    float: left;
    h2 {
      margin: -37px 15px 0 5px;
    }
    h3 {
      margin: -110px 0 0 10px;
      width: 24%;
    }
    .btn-good {
      margin: -50px 0 0 125px;
    }
  }
}

@media screen and (min-width: 769px) {
  .form-wrapper {
    max-width: 800px;
  }
  .tableShow {
    height: 405px;
    .cafePhoto {
      height: 280px;
    }
    .placeShowBtn {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .cafePhotoTop {
    height: 345px;
    width: 80%;
    margin-left: 10%;
  }
  .star-rating-top .name {
    display: inline-block;
    position: absolute; /*絶対位置*/
    top: 3%;
    left: 13%;
    border-radius: 8px 5px 5px 0;
    margin-top: 0;
    padding: 8px 6px 4px 10px;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
  }
  .star-rating-top p {
    position: absolute;
    bottom: 18%;
    left: 11%;
    width: 58%;
    color: #fafafa;
  }
  .star-rating-top span {
    position: absolute;
    top: 73%;
    right: 12%;
    display: block;
    padding: 10px;
    background-color: #000;
  }
  /* Place Show*/
  .tableShow {
    height: 460px;
    .cafePhoto {
      height: 350px;
    }
  }
}

@media screen and (min-width: 780px){
  #search, #keyword {
    width: 60%;
    margin: 15px 0 0 80px;
  }
  .search {
    margin: 15px;
  }
  .placeIndex {
    font-size: 3em;
    margin-left: 20%;
  }
  .SlideShow {
    height: 700px;
  }
  .cafePhotoTop {
    height: 600px;
    width: 80%;
    margin-left: 12%;
    margin-top: 30px;
    margin-bottom: -3%;
  }
  .star-rating-top .name {
    display: inline-block;
    position: absolute; /*絶対位置*/
    top: 5%;
    left: 12%;
    border-radius: 8px 5px 5px 0;
    margin-top: 0;
    padding: 10px 6px 8px 8px;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    font-size: 33px;
  }
  .star-rating-top p {
    position: absolute;
    bottom: 15%;
    left: 14%;
    width: 58%;
    color: #fafafa;
    font-size: 20px;
  }
  .star-rating-top span {
    position: absolute;
    top: 80%;
    right: 10%;
    display: block;
    padding: 10px;
    background-color: #000;
  }
  .skippr-nav-container {
    margin-left: 22%;
  }
  .skippr-nav-element-block {
    width: 70px;
    height: 10px;
  }
  .table {
    width: 31.33%;
    height: 425px;
    float: left;
    margin: 1%;
    padding: 10px;
    .cafePhoto {
      height: 230px;
    }
  }
  .heartIndex .btn-heart {
    margin-right: 0;
  }
  .star-rating {
    margin: 10px 0 0 -20px;
  }
  .table cafename {
    height: 40px;
  }
  /* Place Show*/
  .tableShow {
    height: 485px;
    width: 85%;
    margin-left: 8%;
    .showAddress {
      font-size: 18px;
    }
    .star-rating {
      margin-top: 10px;
    }
    .placeShowBtn {
      margin-top: 2px;
      margin-bottom: 5px;
    }
    .cafePhoto {
      height: 370px;
    }
  }
  .showReview {
    clear: both;
  }
}
