/* Fonts */
@import
url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import
url(https://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}




h1 {
  width: 100%;
  text-align: center;
}

body {
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
}
.notice {
  text-align: center;
  color: #9f5;
  font-size: 20px;
}
.alert {
  text-align: center;
  color: #f43;
  font-size: 20px;
}

html {
  position: relative;
}
.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  display: inline-block;
}
.Cafe {
  margin-bottom: 50px;
}

.placeIndex {
  position: relative;
}
.SlideShow {
  height: 300px;
  .btn-heart {
    position: absolute;
    bottom: 70px;
    right: -19px;
    width: 50px;
    border: none;
  }
}
.heartIndex {
  .btn-heart {
    border: none;
    margin-left: 10px;
  }
}
.btn-heart {
  background-color: transparent;
}



/* BackImageSlide */

.backimages {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
}
.backimages li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeate: none;
  opacity: 0;
  transform: translate3d(0,0,0);
  -webkit-animation: anime 40s linear 0s infinite ;
  animation: anime 40s linear 0s infinite ;
}
.backimages li:nth-child(1) {
  background-image: image-url("coffeebreak_mini.jpg") /*背景画像*/
}
.backimages li:nth-child(2) {
  background-image: image-url("cafeterasu_mini.jpg");
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.backimages li:nth-child(3) {
  background-image: image-url("cafetable_mini.jpg");
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.backimages li:nth-child(4) {
  background-image: image-url("coffeetime_mini.jpg");
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

@-webkit-keyframes anime {
  0% {
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1.1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.2);
      -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
  100% { opacity: 0 }
}
@keyframes anime {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    transform: scale(1.1);
    opacity: 1;
  }
  40% {
    transform: scale(1.2);
      animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% { opacity: 0 }
}


/* place index */

.jumbotron {
  margin-top: -27px;
}

.jumbotron p {
  text-align: center;
}

.Main {
  color: #fff;
}

h2.placeIndex {
  clear: both;
  margin-top: 190px;
  margin-left: 9%;
  margin-bottom: 17px;
  color: #fff;
}
.col-md-12 .placeIndex {
  margin-top: -30px;
}

.table {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 10;
  padding: 10px;
  background: rgba(50,50,50,0.7);
  h4 {
    height: 40px;
    color: #f3f3f3;
    font-size: 22px;
  }
  .cafePhoto {
    height: 200px;
    margin-top: 18px;
  }
}

.cafePhotoTop {
  position: relative;
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.topLeft {
  width: 45%;
  float: left;
  padding: 0 5px;
  span {
    margin-left: 10px;
  }
}
.Gapi {
  width: 65%;
  padding-top: 5px;
}
.topRight {
  .btn {
    float: right;
    margin-top: -32px;
    margin-left: 100px;
  }
}

.star-rating-top {
  position: relative; /*相対位置*/
}
.star-rating-top .cafePhoto {
  margin-top: 20px;
}
.star-rating-top .name {
  display: inline-block;
  position: absolute; /*絶対位置*/
  top: 0;
  left: 0;
  border-radius: 8px 5px 5px 0;
  margin-top: 0;
  padding: 3px 6px 4px 8px;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}
.star-rating-top p {
  position: absolute;
  bottom: 44px;
  left: 10px;
  width: 58%;
  color: #fafafa;
}
.star-rating-top span {
  position: absolute;
  top: 75%;
  right: 5%;
  display: block;
  padding: 10px;
}


#search {
  float: left;
  width: 75%;
  margin: 15px 0;
}
.search {
  float: right;
  margin: 15px 0;
  top: 0;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.cafePhoto {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (min-width: 480px){
  .cafePhoto{
  width: 100%;
  height: 350px;
  object-fit: cover;
  }
}


.placeShowBtn {
  float: right;
  margin-top: -20px;
  margin-bottom: 10px;
}



/* login 画面 */
.alert {
  margin-top: 50px;
}
.form-wrapper {
  color: #fff;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  opacity: 0.95;
  h1 {
    color: #fff;
  }
  body {
    background: #e9e9e9;
    color: #5e5e5e;
    font: 400 87.5%/1.5em 'Open Sans', sans-serif;
    width: 100%;
    padding-bottom: 30px;
  }
  .form {
    padding: 0 1.5em;
  }
  .field {
    margin-bottom: 0.75em;
    width: 100%;
  }

  .field input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
  }
  label {
    float: left;
    margin-top: 20px;
  }
  #user_remember_me {
    width: 60%;
    margin: 0 -60px;
  }

  .field input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
  }

  .actions {
    margin: 2em 0 0;
    width: 100%;
  }

  .actions .button {
    background: #550000;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
    max-height: 100px;
    border-radius: 5px;
  }

  .button:hover {
    background: #4488dd;
  }
  .form-footer {
    font-size: 1em;
    padding: 2em 0;
    text-align: center;
  }
  .form-footer a {
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s;
  }
  .form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
  }
}

.terms_and_policy {
  margin: 20px 0;
  width: 70%;
  float: left;
}
#user_agreement {
  margin: 15px 0;
  width: 30%;
  float: left;
}


/* Chromeでのstyle */
@media screen and (-webkit-min-device-pixel-ratio:0) {

  #user_remember_me {
    height: 60px;
    float: right;
  }
}

/* Review new */
.contents {
  padding: 20px;
  margin: 0 auto;
  width: auto;
}

#review_rank {
  margin: 30px 0 15px 0;
}


/* Place Search （cafe shaker内の) */
.searchResult {
  margin: 0 0 30px 20px;
}

.searchContents {
  margin: 0 10px 25px 0;
  padding: 5px 20px;
  background-color: #eee;
}


/* Star Rate */
$starFull: 20px;
$starHalf: $starFull / 2;
$rate1: $starFull;
$rate1\.5: $starFull + $starHalf;
$rate2: $starFull * 2;//星2
$rate2\.5: ($starFull * 2) + $starHalf;//星2.5
$rate3: $starFull * 3;//星3
$rate3\.5: ($starFull * 3) + $starHalf;//星3.5
$rate4: $starFull * 4;//星4
$rate4\.5: ($starFull * 4) + $starHalf;//星4.5
$rate5: $starFull * 5;//星5

.rate {
  position: relative;
  display: inline-block;
  width: $starFull * 5;
  height: $starFull;
  font-size: $starFull;
  margin-left: 20px;
  &:before,&:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: $starFull;
    line-height: $starFull;
  }
  &:before{
    color: #ddd;
  }
  &:after{
    color: #ffca00;
    overflow: hidden;
    white-space: nowrap; //これがないと改行されて星の半分が表現できない
  }
}
.rate0:after{
  width: 0;
}
.rate1:after{
  width: $rate1;
}
.rate1\.5:after{
  width: $rate1\.5;
}
.rate2:after{
  width: $rate2;
}
.rate2\.5:after{
  width: $rate2\.5;
}
.rate3:after{
  width: $rate3;
}
.rate3\.5:after{
  width: $rate3\.5;
}
.rate4:after{
  width: $rate4;
}
.rate4\.5:after{
  width: $rate4\.5;
}
.rate5:after{
  width: $rate5;
}


.star-rating{
  width: 280px;
  margin: 0 0 5px 0;
  float: left;
}


.good {
  float: right;
  margin-top: -32px;
}
.btn-good {
  width: 50px;
  background: rgba(0,0,0,0);
  border: none;
}


/* Place Show */
.showReview {
  color: #fff;
  margin-top: 100px;
}
.review {
  margin-top: 40px;
}
.btn-placeShow {
  color: #fafafa;
  float: right;
  margin-top: 20px;
  margin-right: 46%;
  width: 100px;
  background-color: #666;
}
.btn-placeShow:hover {
  background-color: #ddd;
  padding: 7px 10px;
  border: solid #fff;
  margin-top: 17px;
}
.showAddress {
  color: #f8f8f8;
  margin-bottom: 12px;
}
.tableShow .cafePhoto{
  height: 210px;
}



/* レビュー投稿画面 */

.reviewNew {
  color: #fff;
}

#review_rank, #review_review {
  color: #000;
}

.evaluation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 60px 0 20px 0;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label {
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 47px;
  margin: 1%;
}
.evaluation label .text {
  position: absolute;
  left: 0;
  top: -7px;
  right: 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}

.btn-review {
  float: right;
  margin-top: 20px;
  margin-right: 47%;
  background-color: #9ab;
}
.btn-review:hover {
  background-color: #ddd;
  width: 90px;
  margin-right: 46%;
}

.fieldPicuture {
  margin: 30px 0 25px 20px;
}


/* Review Delete */
.success .reviewDelete {
  color: #fff;
  margin-left: 70px;
}
.btn-DeleteSuccess {
  margin-right: 70px;
}




/* User Show */
.containerUserShow {
  color: #fff;
}
.user_image img {
  width: 200px;
  height: auto;
  float: right;
  margin-top: 20px;
  margin-right: 20%;
  border-radius: 7px 7px 7px 7px;
}
.userReviews {
  float: right;
  margin-top: 70px;
  margin-right: 5%;
  width: 95%;
  .address, .star-rating {
    width: 70%;
  }
}
.userReviews h2 {
  margin: 8px 15px 0 25px;
}
.userReview {
  margin: 15px 0 20px 0;
  padding: 10px 0 5px 20px;
}

.btn-reviewDelete {
  float: right;
  margin-top: 10px;
  background-color: #ddd;
}
.btn-reviewDelete:hover {
  background-color: #d54;
  width: 60px;
  margin-right: -4px;
}
.btn-reviewEdit {
  margin: -40px 0px 0 0;
  background-color: #ddd;
  float: right;
}
.btn-reviewEdit:hover {
  background-color: #5d4;
  width: 60px;
  margin-right: -4px;
}




/* 利用規約とプライバシーポリシー */
.hh7 {
  mrgin-top: 0 auto;
}

.col-md-12 {
  margin-top: 150px;
}

.terms, .policy {
  color: #fff;
}

.terms a, .plicy a {
  color: #4df;
}

/* inquiry */
.containerInquiry {
  color: #fff;
}
td {
  color: #000;
}
.inquiry {
  width: 100px;
  background-color: #a97;
}
.inquiryMessage {
  background-color: #a97;
}

.btn-inquiry {
  float: right;
  margin-top: 20px;
  margin-right: 47%;
  width: 100px;
  background-color: #9ab;
}
.btn-inquiry:hover {
  background-color: #ddd;
  padding: 7px 10px;
  border: solid #fff;
  margin-top: 17px;
}


/* copyright */
.copyright {
  color: #bfbfbf;
  text-align: center;
  padding: 13px 0 0;
  font-size: 17px;
  float: right;
  margin-top: 100px;
  margin-right: 27%;
  clear: both;
}