<div class="contents row">
  <%= form_tag('/reviews', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <textarea cols="30" rows="10" placeholder="Review" type="text" name="review"></textarea>
    <input placeholder="Photos" type="" name="photos">
    <input type="submit" value="SENT">
    <input type="hidden"
  <% end %>
</div>