<div class="Main">
  <div class="success">
    <h3 class="reviewDelete">
      口コミを更新しました。
    </h3>
    <span class="btn pull-right btn-lg btn-default btn-DeleteSuccess">
    <%= link_to 'Back', user_path %>
    </span>
  </div>
</div>