<p>сѓѕсЂєсЂЊсЂЮ№╝Ђ<%= @email %>сЂЋсѓЊ</p>
<p>С╗ЦСИІсЂ«сЃфсЃ│сѓ»сЂІсѓЅсѓбсѓФсѓдсЃ│сЃѕуЎ╗жї▓сѓњт«їС║єсЂЌсЂдсЂЈсЂасЂЋсЂёсђѓ</p>
<p><%= link_to 'сѓбсѓФсѓдсЃ│сЃѕуЎ╗жї▓сѓњт«їС║єсЂЎсѓІ', confirmation_url(@resource, confirmation_token: @token) %> ­ЪЉѕсЂЊсЂЊсѓњсѓ»сЃфсЃЃсѓ»сЂЌсЂдсЂЈсЂасЂЋсЂёсђѓ</p>
<br>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
